{% extends 'base.html' %} {% block content %}

<div class="wrapper">
    <div class="vertical-menu">
        <a href="/account"  class="active">My Account</a>
        <a href="/account/editprofile">Edit Profile</a>
        <a href="/account/delete">Delete Account</a>
      </div>
</div>
<div id="content">
  <h1> My account </h1>
  <div class="scrollmenu">
    <p> Recent View</p>
    {% for book in view %}
      <a href="{% url 'books:ViewBook' bid=book.bid %}"> {{book.title_name}} </a>
    {% endfor %} 
  </div>
  <div class="scrollmenu">
   <p></p>
   <p> Recent Save</p>
    {% for book in save %}
      <a href="{% url 'books:ViewBook' bid=book.bid %}"> {{book.title_name}} </a>
    {% endfor %} 
  </div>
  <div class="scrollmenu">
    <p></p>
    <p> Recent Rate</p>
     {% for book in rate %}
       <a href="{% url 'books:ViewBook' bid=book.bid %}"> {{book.title_name}} </a>
     {% endfor %} 
   </div>
</div>

<style>
    #content{
        color: rgb(24, 59, 61);
        text-align: center;
        padding: 100px;
    }
    .vertical-menu {
      width: 200px;
      position:relative;
      top:40vh;
      left:0vw;
    }
    
    .vertical-menu a {
      color: rgb(0, 0, 0);
      display: block;
      padding: 12px;
      text-decoration: none;
      background-color: rgb(216, 212, 212);
    }
    
    .vertical-menu a:hover {
      background-color: rgb(252, 199, 178);
    }
    
    .vertical-menu a.active {
      background-color: lightsalmon;
      color: white;
    }

div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}

</style>

{% endblock %}