{% extends 'base.html' %} {% block content %}

<div class="wrapper">
    <div class="vertical-menu">
        <a href="/account">My Account</a>
        <a href="/account/editprofile">Edit Profile</a>
        <a href="/account/delete" class="active">Delete Account</a>
      </div>
</div>
<div id="content">
    <h1> My account </h1>

</div>

<style>
    #content{
        color: rgb(24, 59, 61);
        text-align: center;
        padding: 100px;
    }
    .vertical-menu {
      width: 200px;
      position:relative;
      top:40vh;
      left:0vw;
    }
    
    .vertical-menu a {
      color: rgb(0, 0, 0);
      display: block;
      padding: 12px;
      text-decoration: none;
      background-color: rgb(216, 212, 212);
    }
    
    .vertical-menu a:hover {
      background-color: rgb(252, 199, 178);
    }
    
    .vertical-menu a.active {
      background-color: lightsalmon;
      color: white;
    }

</style>

{% endblock %}