{% extends 'base.html' %}{% block content %} {% load static %}

<title>Login | Lib-RSS</title>

<div class="left-col" style="flex-direction: column;">
	<div class="search-content">
		<div class="search-header" style="display:flex; flex-direction:column;">
			<p class="header-text" style="align-self: flex-start;"><u>Login</u></p>
			<p style="font-size: 20px; align-self: flex-start;">Welcome Back!</p>
		</div>

		<form action="" method="POST">
			{% csrf_token %}

			<div style="display: flex; justify-content: center">
				<div class="input-boxes">
					<p>{{ form.entry }}</p>
					<p>{{ form.password }}</p>
					<p style="text-align: right; align-self: flex-end;"><a id='forgot' href="http://127.0.0.1:8000/account/forget/">Forgot your
							password?</a></p>
					
					{% for field in form %}
					{% for error in field.errors %}
					<div>
						<medium style="color: red;">{{ error }}</medium>
					</div>
					{% endfor %}
					{% endfor %}
				</div>
			</div>

			<div>
				<ul style="text-align: center; height: 3rem; line-height: 3rem">
					{% if messages %}
						{% for message in messages %}
						<li >
						{{ message }}
					</li>
					{% endfor %}
					{% endif %}
				</ul>
			</div>

			<button id="search-button" type="submit">
				<p id="btnText">Login</p>
			</button>
		</form>
	</div>
</div>

<div class="right-col" style="flex-direction: column">
	<p class="header-text" style="font-size: 40px">New Here?</p>
	<div style="max-width: 20rem; padding-top: 1.5rem; padding-bottom:1.5rem; font-size: 20px;">
		<p style="text-align:center">Signup and explore the world's knowledge!</p>
	</div>
	<a href="http://127.0.0.1:8000/account/signup/">
		<button id="search-button">
			<p id="btnText">Signup</p>
		</button>
	</a>
</div>

<style>
	html {
		min-width: 60rem;
	}

	.content {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 100vh;
		min-width: 60rem;
	}

	.left-col,
	.right-col {
		min-width: 50%;
		align-self: stretch;
		display: flex;
		justify-content: center;
		position: relative;
		align-items: center;
	}

	.left-col::after {
		position: absolute;
		content: "";
		background-image: url("{% static 'images/login-bg.png' %}");
		background-position: center;
		background-size: cover;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: -1;
	}

	.right-col::after {
		position: absolute;
		content: "";
		background-image: url("{% static 'images/login-book.jpeg' %}");
		opacity: 0.5;
		background-position: center;
		background-size: cover;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: -1;
	}

	.search-content {
		position: relative;
		text-align: center;
		background-color: rgba(138, 217, 253, 0.35);
		padding: 1rem;
		border: 1px solid rgba(0, 0, 0, 0.481);
		align-self: center;
		flex-shrink: 0;
	}

	.search-header {
		display: flex;
		justify-content: center;
		gap: 1rem;
		padding-top: 1rem;
		padding-bottom: 1rem;
	}

	/* Container for all form input boxes */
	.input-boxes {
		display: flex;
		align-items: center;
		flex-flow: column nowrap;
		gap: 0.3rem;
		white-space: nowrap;
	}

	.form-input {
		font-size: inherit;
		width: 25rem;
		height: 2rem;
		margin-bottom: 0.5rem;
		padding-left: 0.5rem;
	}

	#search-button {
		width: 150px;
		height: 45px;
		border: none;
		outline: none;
		background: #2f2f2f;
		color: #fff;
		font-size: 17px;
		border-radius: 40px;
		text-align: center;
		box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
		position: relative;
		overflow: hidden;
		cursor: pointer;
	}

	#forgot {
		text-decoration: none; 
		color:rgb(63, 62, 62)
	}

	#forgot:hover{
		color: black
	}
</style>

{% endblock %}