{% block content %}
{% load static%}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="{% static 'Loginstyle.css' %}">
	</head>
	<body>
		<div class="leftside">
			<h1>Login</h1>
			<h2>Welcome Back!</h2>
			<form method="post">
				{% csrf_token %}
				{{form.entry}}
				{{form.password}}	
				<div class="misc">
					<div class="rmbme">	
						<input type="checkbox">
						<label>Remember Me</label>
					</div>	
				</div>
  				<div class="misc">
					  <div class="pass">
						<a href="">Forgot Password?</a>	
					  </div>
				  </div>
				  <input type="submit" value="Login">	
  		</div>
        {% for field in form %}
        {% for error in field.errors %}
        <p class='error-messages'>{{ error }}</p>
        {% endfor %}
        {% endfor %}
		<div class="rightside">
			<img class="book" src="{% static 'book.png' %}"/>
			<div class="signup">
				<a href="http://127.0.0.1:8000/account/signup/">Sign Up</a>
			</div>			
		</div>	
	</body>
</html>
{% endblock %}
