{% extends 'base.html' %} {% block content %}

<title>My Account | Lib-RSS</title>

<div style="display:flex;">
  <div class="vertical-menu">
    <a href="/account/editprofile" class="active">My Account</a>
    <a href="/account">Account History</a>
    <a href="/account/delete">Delete Account</a>
  </div>

  <div style="width:100%; text-align:center;">
    <p class="header-text">My Account</p>

    <div>
      <form id="form" action="" method="POST">
        {% csrf_token %}
       
        <div style="display:flex; flex-direction: column; align-items: center;">
          <p>{{ form.email }}</p>
          <p>{{ form.password1 }}</p>
          <p>{{ form.password2 }}</p>
          <p class="form-input" style="width: 26rem; padding-bottom: 3rem;">Date of Birth: &nbsp; {{ form.dob }}</p>
          <p style="white-space: initial; width: 30rem; padding-bottom: 0.5rem;"> Please enter your current password to continue.</p>
          <p>{{ form.current }}</p>
        </div>        
        <button id="search-button" type="submit">
          <p id="btnText">Update</p>
        </button>
      </form>
    </div>
    {% for field in form %}
    {% for error in field.errors %}
    <div>
      <medium style="color: red;">{{ error }}</medium>
    </div>
    {% endfor %}
    {% endfor %}
    <div>
      <ul style="text-align: center; height: 3rem; line-height: 3rem; list-style-type: none;">
        {% if messages %}
        {% for message in messages %}
        <li {% if message.tags %} class=" {{ message.tags }} " {% endif %}>
          {{ message }}
        </li>
        {% endfor %}
        {% endif %}
      </ul>
    </div>
</div>

<style>
  .vertical-menu {
    min-width: 200px;
  }

  .vertical-menu a {
    color: rgb(0, 0, 0);
    display: block;
    padding: 12px;
    text-decoration: none;
    background-color: rgb(216, 212, 212);
  }

  .vertical-menu a:hover {
    background-color: rgb(252, 199, 178);
  }

  .vertical-menu a.active {
    background-color: lightsalmon;
    color: white;
  }

  .input-boxes {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    gap: 0.3rem;
    white-space: nowrap;
  }

  .form-input {
    font-size: inherit;
    width: 25rem;
    height: 2rem;
    margin-bottom: 0.5rem;
    padding-left: 0.5rem;
  }

  .date-input {
    font-size: inherit;
    margin-bottom: 0.5rem;
  }

  #search-button {
    width: 150px;
    height: 45px;
    border: none;
    outline: none;
    background: #2f2f2f;
    color: #fff;
    font-size: 17px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }

  .success{
    color:black
  }

  .error{
    color:red
  }

  .header-text {
    padding: 1rem;
  }
</style>

  {% endblock %}
</div>
