{% extends 'base.html' %}{% block content %} {% load static %}

<title>Signup | Lib-RSS</title>

<div class="search-content">
  <div class="search-header">
    <p class="header-text"><u>Create Account</u></p>
  </div>

  <form action="" method="POST">
    {% csrf_token %}

    <div style="display: flex; justify-content: center">
      <div class="input-boxes">
        <p>{{ form.username }}</p>
        <p>{{ form.email }}</p>
        <p style="white-space: initial; width: 25rem;"> Password must be at least 8 characters and must contain one uppercase and special character.</p>
        <p>{{ form.password1 }}</p>
        <p>{{ form.password2 }}</p>
        <p class="form-input">Date of Birth: &nbsp; {{ form.dob }}</p>
        <p>Already a member? <a href="/account/login">Log in</a></p>
      </div>
    </div>

    <div>
      <ul style="text-align: center; height: 3rem; line-height: 3rem">
        {% for error in form.non_field_errors %}
        <medium style="color: red">{{ error }}</medium>
        {% endfor %}
      </ul>
    </div>

    <button id="search-button" type="submit">
      <p id="btnText">Signup</p>
    </button>
  </form>
</div>

<style>
  .content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .content::after {
    position: absolute;
    content: "";
    background-image: url("{% static 'images/advsearch-bg.jpeg' %}");
    opacity: 0.5;
    background-position: center;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
  }

  .search-content {
    position: relative;
    text-align: center;
    background-color: rgba(97, 202, 255, 0.35);
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.481);
  }

  .search-header {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  /* Container for all form input boxes */
  .input-boxes {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    gap: 0.3rem;
    white-space: nowrap;
  }

  .form-input {
    font-size: inherit;
    width: 25rem;
    height: 2rem;
    margin-bottom: 0.5rem;
    padding-left: 0.5rem;
  }

  .date-input {
    font-size: inherit;
  }

  #search-button {
    width: 150px;
    height: 45px;
    border: none;
    outline: none;
    background: #2f2f2f;
    color: #fff;
    font-size: 17px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
</style>

{% endblock %}
