<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="Loginstyle.css">
	</head>
	<body>
		<div class="leftside">
			<h1>Login</h1>
			<h2>Welcome Back!</h2>
			<form method="post">
				<div class="txtfield">
					<input type="text"; placeholder = "Email/Username"; required>	
				</div>
				<div class="txtfield">
					<input type="password"; placeholder = "Password"; required>	
				</div>
				<div class="misc">
					<div class="rmbme">	
						<input type="checkbox">
						<label>Remember Me</label>
					</div>	
				</div>
  				<div class="misc">
					<div class="pass">
						Forgot Password?	
					</div>
				</div>
				<input type="submit" value="Login">	
  		</div>
		<div class="rightside">
			<img class="book" src="book.png"/>
			<div class="signup">
				<a href="#">Sign Up</a>
			</div>			
		</div>	
	</body>
</html>