<link
  href="https://fonts.googleapis.com/css2?family=EB+Garamond&family=Lexend+Peta&family=Noto+Serif+Display&family=Prata&family=Source+Sans+Pro:wght@200&display=swap"
  rel="stylesheet">

<body>
  
</body>

<!-- <div id="background">
  <a href="/">
    <h3 class="logo">LIBRARY BOOK RECOMMENDATION SYSTEM</h3>
  </a>
  <ul class="nav-area">
    {% if user.is_authenticated %}
    <li>
      <div class="dropdown">
        <p class="dropbtn"> Hello, {{user.username}}</p>
      </div>
    </li>
    <li>
      <div class="dropdown">
        <button class="dropbtn"> Account </button>
        <div class="dropdown-content">
          {% if user.is_superuser %}
          <a href="/admin">Admin</a>
          <a href="/account">My Account</a>
          {% else %}
          <a href="/account">My Account</a>
          {% endif %}
          <a href="/account/logout">Logout</a>
        </div>
      </div>
      {% else %}
    <li>
      <div class="dropdown">
        <a href="/account">
          <button class="dropbtn">Account</button>
        </a>
        <div class="dropdown-content">
          <a href="/account/login">Login</a>
          <a href="/account/signup">Signup</a>
        </div>
    </li>
    {% endif %}
    <li>
      <div class="dropdown">
        <button class="dropbtn">Search</button>
        <div class="dropdown-content">
          <a href="/search">Standard Search</a>
          <a href="/search/adv">Advanced Search</a>
        </div>
      </div>
    </li>

    <li>
      <div class="dropdown">
        <button class="dropbtn"><a href="/search">Recommendation</a></button>
    </li>
  </ul>
</div> -->

<style>
  * {
    border: 2px solid red;
  }
</style>