{% extends 'base.html' %} {% block content %} {% load static %}

<!-- Custom js-->
<script src="{% static 'main.js' %}?version=1" defer></script>
<div id="content">
  <div class="header">
    <h1 class="title">{{ detail.Title }}</h1>
  </div>
  <body>
    <h3>
      Author: {{ detail.Author }} <br />
      Other Authors: {{ detail.Other_authors }} <br />
      Publisher: {{ detail.Publisher }} <br />
      ISBN: {{ detail.ISBN }} <br />
      BID: {{ detail.BID }} <br />
      Physical Description: {{ detail.Physical_desc }} <br />
    </h3>
    <div>
    <html>
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
    {% load ratings %}
    {% ratings RatedBook %}
    </html>
    </div>
    <td>
      <button
        class="btn btn-outline-primary share-btn"
        data-title="{{ Title }}"
        data-author="{{ Author }}"
        data-url="{{ URL }}"
      >
        Share
      </button>
    </td>
    <h4>Genres: {{ detail.Subjects }} <br /></h4>
    <p>Abstract: {{ detail.Summary }}</p>
    <form method="post">
      {% csrf_token %}
      <button id="save" type="submit" name="clicked">
        <label class="switch">
          <input id="check" type="checkbox" />
          <svg viewBox="0 0 17 17" class="save">
            <path
              fill-rule="evenodd"
              d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"
            ></path>
          </svg>
        </label>
      </button>
    </form>
  </body>
</div>

<style>
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    cursor: pointer;
  }

  #check {
    opacity: 0;
    width: 0;
    height: 0;
    cursor: pointer;
  }
  #save {
    border: 0;
    width: 60px;
    background-color: transparent;
    cursor: pointer;
  }

  .save path {
    fill: grey;
  }

  input:checked + .save path {
    fill: red;
  }
</style>

{% endblock %}
