{% extends 'base.html' %} {% block content %}
<div class="header">
  <h1 class="title">Signup</h1>
</div>

<form id="form" action="" method="POST">
  {% csrf_token %} {% for field in form %}
  <div>
    <p class="field">
      {{ field.label }}: <br />
      {{ field }}
    </p>
    {% for error in field.errors %}
    <small style="color: red">{{ error }}</small>
    {% endfor %}
  </div>
  {% endfor %}
  <button class="cutebutton" type="submit">Register</button>
</form>

<style>
  #form {
    text-align: center;
    text-transform: uppercase;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: black;
  }
  form {
    text-align: center;
    margin: auto;
    width: 50%;
    padding-top: 10px;
  }
  .field {
    padding: 5px;
  }
  .cutebutton {
    background-color: bisque; /* Green */
    border: none;
    color: black;
    border-radius: 5px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-transform: uppercase;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
  }

  .cutebutton:hover {
    /* border: 1px #000000 solid; */
    background-color: rgb(198, 255, 215);
  }

  #prompt {
    color: black;
    text-align: center;
    margin-top: 10px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-transform: uppercase;
  }

  .header {
    position: relative;
    /* margin-left: 35%;
    margin-top: 3%; */
    margin-left: auto;
    margin-right: auto;
    width: 50em;
    text-align: center;
  }

  .title {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 50px;
    /* color: #442b38; */
    text-shadow: 2px 2px #d7bdca;
    text-align: center;
    text-transform: uppercase;
  }
</style>

{% endblock %}
