{% extends 'base.html' %}{% block content %} {% load static %}

<title>Basic Search | Lib-RSS</title>

<div class="search-content">
  <div class="search-header">
    <p style="font-size: 32px; font-weight: 400; height: 3rem; line-height: 3rem; text-align: center">
      Standard Search
    </p>
    <img id="search-icon" src="{% static 'images/search.png' %}" />
  </div>

  <form action="" method="POST">
    {% csrf_token %}

    <div style="display: flex; justify-content: center">
      <div class="input-boxes">
        <p>Title {{ form.title }}</p>
        <p>Author {{ form.author }}</p>
        <p>ISBN {{ form.isbn }}</p>
        <p>Genres {{ form.genres }}</p>
      </div>
    </div>

    <div>
      {% for error in field.errors %}
      <small style="color: red">{{ error }}</small>
      {% endfor %} {% if field.help_text %}
      <p class="help">{{ field.help_text|safe }}</p>
      {% endif %}
    </div>

    <div>
      <ul style="text-align: center; height: 3rem; line-height: 3rem">
        {% for error in form.non_field_errors %}
        <medium style="color: red">{{ error }}</medium>
        {% endfor %}
      </ul>
    </div>

    <button id="search-button" type="submit">
      <p id="btnText">Search</p>
      <div class="check-box">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
          <path fill="transparent" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
        </svg>
      </div>
      <script type="text/javascript">
        const btn = document.querySelector("#search-button");
        const btnText = document.querySelector("#btnText");

        btn.onclick = () => {
          btnText.innerHTML = "Searching...";
          btn.classList.add("active");
        };
      </script>
    </button>
  </form>
</div>

<style>
  .content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .content::after {
    position: absolute;
    content: "";
    background-image: url("{% static 'images/search-bg.jpg' %}");
    opacity: 0.5;
    background-position: center;
    background-size: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
  }

  .search-content {
    position: relative;
    text-align: center;
    background-color: rgba(243, 255, 246, 0.35);
    padding: 1rem;
  }

  .search-header {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  /* Container for all form input boxes */
  .input-boxes {
    display: flex;
    align-items: flex-end;
    flex-flow: column nowrap;
    gap: 0.3rem;
    white-space: nowrap;
  }

  .form-input {
    font-size: inherit;
    width: 30rem;
    height: 2rem;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    padding-left: 0.5rem;
  }

  #search-icon {
    height: 2.5rem;
    width: auto;
  }

  #search-button {
    width: 180px;
    height: 54px;
    border: none;
    outline: none;
    background: #2f2f2f;
    color: #fff;
    font-size: 18px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }

  .check-box {
    width: 54px;
    height: 54px;
    border-radius: 40px;
    box-shadow: 0 0 12px -2px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: -30px;
    opacity: 0;
  }

  .check-box svg {
    width: 40px;
    margin-top: 7px;
    margin-right: 2px;
  }

  svg path {
    stroke-width: 3;
    stroke: #fff;
    stroke-dasharray: 34;
    stroke-dashoffset: 34;
    stroke-linecap: round;
  }

  #search-button.active {
    background: #4d14f8;
    transition: 1s;
  }

  .active .check-box {
    right: 0;
    opacity: 1;
    transition: 1s;
  }

  .active p {
    margin-right: 50px;
    transition: 1s;
  }

  .active svg path {
    stroke-dashoffset: 0;
    transition: 1s;
    transition-delay: 1s;
  }
</style>

{% endblock %}
